
<!DOCTYPE html>
<html lang="en">
<title>Find A Band</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <% if logged_in? %>
    <a href="/users/<%= current_user.id%>"</a> class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="/listings/new" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">New Listing</a>
    <% end %>
  </div>


<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Find A Band!</h1>
  <p class="w3-xlarge">Jamming. Made Easy.</p>
  <form class="button" action="/signup" method="get">
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Let's Find A Band!</button>
  </form>

</header>

<!-- signup -->
<center><h2>Log In to Your Account</h2></center>

<center><form action="/login" method="POST">

  <p>Username: <input type='text' id='username' name="username"></p>
  <p>Password: <input type='password' id='password' name='password'></p>
  <input type='Submit'></p>

</form></center>
<br>

<center><p>Don't have an account yet? </p>
<p><a href='/signup'>Sign up here.</a></p>

<p><a href='/'>Back to the main page.</a></p></center> -->

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>


<!-- <center><h2>Log In to Your Account</h2></center>

<center><form action="/login" method="POST">

  <p>Username: <input type='text' id='username' name="username"></p>
  <p>Password: <input type='password' id='password' name='password'></p>
  <input type='Submit'></p>

</form></center>
<br>

<center><p>Don't have an account yet? </p>
<p><a href='/signup'>Sign up here.</a></p>

<p><a href='/'>Back to the main page.</a></p></center> -->
